.octButton {
  height: 40px;
  width: 50px;
}

.box {
  height: 40px;
  width: 40px;
}

.loopDiv {
  padding-top: 10px;
  padding-bottom: 10px;
}

.loopLabel {
  position: relative;
  padding-left: 4rem;
  font-size: 8;
  height: 2rem;
}

.loopInput,
.loopSpan,
.loopsvg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.loopInput {
  opacity: 0;
}

.loopInput:checked+.loopSpan {
  border: 3px solid #337135;
}

.loopInput:checked+.loopSpan .loopsvg {
  animation-name: looping;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  stroke-dasharray: 53;
  stroke-dashoffset: 0;
}

.loopSpan {
  border: 3px solid #4caf50;
  width: 2rem;
  height: 1rem;
  padding: 5px;
  z-index: -1;
}

.loopsvg {
  stroke: #4caf50;
  height: 2.5rem;
  width: 3rem;
  stroke-dasharray: 53;
  stroke-dashoffset: 0;
  padding-top: 15px;
  padding-left: 0px;
}

@keyframes looping {
  0% {
    stroke-dashoffset: 53;
  }

  100% {
    stroke-dashoffset: 110;
  }
}

.dropdown {
  height: 40px;
  width: 100%;
  background: #e0f5e1;
  z-index: 6;
}

.metro-button {
  border: 4px solid;
  height: 40px;
  background-color: #a8a8a8;
  border-radius: 8px;
  width: 80px;
  padding: 5px 5px;
  color: white;
}

.tempo-box {
  width: 48px;
}

.metro {
  background-color: #eeeeee;
  text-align: center;

}

.contents {
  background-color: #eeeeee;
  text-align: center;

}

.menu {
  border: 4px solid;
  background-color: #4caf50;
  /* Green */
  border-radius: 8px;
  width: 100%;
  height: 40px;
  padding: 5px 5px;
  color: white;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1;
  display: flex;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  text-align: center;
}

.utilities {
  position: sticky;
  top: 0px;
  padding: 0px 0px;
}